html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:lightpink;
    position: relative;
}
* {
    box-sizing: border-box;
    /* border: 1px solid rgb(225, 50, 50); */
}
.main {
    position: absolute;
    margin: 12px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 98%;
    height: 97%;
    flex-wrap: wrap;
}
.tech {
    width: 25%;
    height: 40%;
    margin: 20px;
    background-color:lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tech img {
    /* object-fit: contain; */
    width: 90%;
    height: 90%;
    
    
}
.tech img:hover {
    transform: scale(1.1);
    transition: 0.8s transform ease-in-out;
}
